.env
node_modules/
dist/
.DS_Store
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.npm-cache/
client/dist/
server/dist/
server/prisma/*.db
server/prisma/*.db-journal
server/test/*.db
server/test/*.db-journal
server/uploads/
.obsidian/workspace.json
/tts/
__pycache__/
/artifacts/
/server/artifacts/
需求文档.md

.worktrees/
